.bad {
  color: #FF0000;
}

.good {
  color: #3B843B;
}

label.bad {
  color: #FF0000;
  width: auto;
  float: none;
}

label.good {
  color: #3B843B;
  width: auto;
  float: none;
}

div.nodeLink {
  font-size: 9pt;
  font-family: 'Courier New';
  cursor: pointer;
}

span.atype {
  font-weight: bold;
}

.badsum {
  color: #000000;
}

.goodsum {
  color: #9D9D9D;
  font-style: italic;
}